{% extends 'itttm/trials_base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'itttm/wrstg-common.css' %}">
{% endblock css %}

{% block content %}
<div class="container-fluid bg-transparent">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'ITTTM:home' %}">ITTTM</a></li>
                    <li class="breadcrumb-item"><a href="#">ETMA</a></li>
                    <li class="breadcrumb-item"><a href="#">Submarines</a></li>
                    <li class="breadcrumb-item active" aria-current="page">GABS Transmission Protocol</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
					<div class="caption font-green">
						<span class="caption-subject bold">Ships general announcing and Broadcasting system</span>
					</div>
				</div>
                <div class="portlet-body form mt-2 mb-4">
                    <form method="post" id="gabs_transmission_form">
                        {% csrf_token %}
                        <div class="form-body">

                            <!-- ══════════ MASTER REPORT FIELDSET ══════════ -->
                            

                                <!-- Sub-Fieldset: Trial Information -->
                                <fieldset class="custom-fieldset mt-2">
                                    <legend class="legend-custom text-uppercase">Trial Information</legend>
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <input type="date" name="trial_date" class="form-control" required>
                                                <label class="form_control_1">DATE OF TRIALS <span
                                                        class="text-danger">*</span></label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <select name="ins_name" class="form-control" required>
                                                    <option value="" selected disabled></option>
                                                    <option value="INS KOCHI">INS KOCHI</option>
                                                    <option value="INS KOLKATA">INS KOLKATA</option>
                                                    <option value="INS CHENNAI">INS CHENNAI</option>
                                                    <option value="INS VIKRANT">INS VIKRANT</option>
                                                </select>
                                                <label class="form_control_1">INS <span
                                                        class="text-danger">*</span></label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <!-- Sub-Fieldset: Test Results -->
                                <fieldset class="custom-fieldset mt-4">
                                    <legend class="legend-custom text-uppercase">Test Results Protocols</legend>
                                    <div class="table-responsive">
                                        <table class="custom_tbl paralleling-table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" style="width: 15%;">TEST SER</th>
                                                    <th class="text-center" style="width: 45%;">TEST / NOMINAL VALUE
                                                    </th>
                                                    <th class="text-center" style="width: 20%;">ACTUAL VALUE</th>
                                                    <th class="text-center" style="width: 20%;">REMARKS</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">202.100</td>
                                                    <td>Insulation Checks</td>
                                                    <td><input type="text" name="actual_202_100"
                                                            class="form-control text-center"></td>
                                                    <td><input type="text" name="remarks_202_100" class="form-control">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">202.101</td>
                                                    <td>Functional Check</td>
                                                    <td><input type="text" name="actual_202_101"
                                                            class="form-control text-center"></td>
                                                    <td><input type="text" name="remarks_202_101" class="form-control">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">202.102</td>
                                                    <td>Functional Check</td>
                                                    <td><input type="text" name="actual_202_102"
                                                            class="form-control text-center"></td>
                                                    <td><input type="text" name="remarks_202_102" class="form-control">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">202.103</td>
                                                    <td>Functional Check</td>
                                                    <td><input type="text" name="actual_202_103"
                                                            class="form-control text-center"></td>
                                                    <td><input type="text" name="remarks_202_103" class="form-control">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">202.104</td>
                                                    <td>Functional Check</td>
                                                    <td><input type="text" name="actual_202_104"
                                                            class="form-control text-center"></td>
                                                    <td><input type="text" name="remarks_202_104" class="form-control">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>
                            

                            <div class="d-flex justify-content-center mt-4 gap-2">
                                <button type="submit" class="btn btn-success px-4">Submit</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'js/itttm/trial_common.js' %}"></script>
{% endblock js %}