{% extends 'itttm/trials_base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'itttm/wrstg-common.css' %}">
<style>
	
</style>
{% endblock css %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'ITTTM:home' %}">ITTTM</a></li>
					<li class="breadcrumb-item active" aria-current="page">ETMA</li>
					<li class="breadcrumb-item active" aria-current="page">Submarine</li>
					<li class="breadcrumb-item active" aria-current="page">Hydrazine</li>
				</ol>
			</nav>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="portlet light bordered">
				<div class="portlet-title">
					<div class="caption font-green">
						<span class="caption-subject bold">RESULT SHEET</span>
					</div>
				</div>

				<div class="portlet-body form mt-2 mb-4">
					<form method="post" id="hydrazine_form">
						{% csrf_token %}
						<div class="form-body">
							<fieldset class="custom-fieldset">
								<legend class="legend-custom text-uppercase">Basic Information</legend>
								<div class="row g-3">
									<div class="col-md-4 col-12">
										<div class="form-group form-md-line-input form-md-floating-label mt-2 mb-2">
											<input type="date" class="form-control" name="date_of_trials" required>
											<label class="form_control_1">DATE OF TRIALS <span class="text-danger">*</span></label>
										</div>
									</div>
									<div class="col-md-4 col-12">
										<div class="form-group form-md-line-input form-md-floating-label mt-2 mb-2">
											<select class="form-control" name="submarine_id" required>
                                                <option value="">--Select--</option>
												{% for submarine in submarine_options %}
												<option value="{{ submarine.value }}">{{ submarine.label }}</option>
                                                {% endfor %}
                                            </select>
                                            <label class="form_control_1">Submarine	 <span class="text-danger">*</span></label>
                                        </div>
									</div>
								</div>
							</fieldset>

							<fieldset class="custom-fieldset mt-4">
								<div class="table-responsive">
									<table class="custom_tbl" id="hydrazine_result_table">
										<thead class="table-dark-head">
											<tr>
                                                <th>TEST SER</th>
                                                <th>TEST/NOMINAL VALUE</th>
												<th>SAT / UNSAT</th>
												<th>ACTUAL VALUE</th>
												<th>REMARKS</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="text-center">112.100</td>
												<td>Visual inspection  </td>
												<td>
													<div class="radio-wrap">
														<label><input type="radio" name="status_112_100" value="SAT"> SAT</label>
														<label><input type="radio" name="status_112_100" value="UNSAT"> UNSAT</label>
													</div>
												</td>
												<td>
													<input type="text" class="form-control" name="actual_112_100">
												</td>
												<td>
													<input type="text" class="form-control" name="remarks_112_100">
												</td>
											</tr>
											<tr>
												<td class="text-center">112.101</td>
												<td>Functional Checks  </td>
												<td>
													<div class="radio-wrap">
														<label><input type="radio" name="status_112_101" value="SAT"> SAT</label>
														<label><input type="radio" name="status_112_101" value="UNSAT"> UNSAT</label>
													</div>
												</td>
												<td><input type="text" class="form-control" name="actual_112_101"></td>
												<td><input type="text" class="form-control" name="remarks_112_101"></td>
											</tr>
											<tr>
												<td class="text-center">112.102</td>
												<td>Battery Test</td>
												<td>
													<div class="radio-wrap">
														<label><input type="radio" name="status_112_102" value="SAT"> SAT</label>
														<label><input type="radio" name="status_112_102" value="UNSAT"> UNSAT</label>
													</div>
												</td>
												<td>
													<!-- <textarea class="form-control" rows="2" name="actual_112_102"></textarea> -->
                                                    <input type="text" class ="form-control" name="actual_112_102">
												</td>
												<td>
													<input type="text" class="form-control" name="remarks_112_102">
												</td>
											</tr>
											<tr>
												<td class="text-center">112.103</td>
												<td>Functional Checks  </td>
												<td>
													<div class="radio-wrap">
														<label><input type="radio" name="status_112_103" value="SAT"> SAT</label>
														<label><input type="radio" name="status_112_103" value="UNSAT"> UNSAT</label>
													</div>
												</td>
												<td><input type="text" class="form-control" name="actual_112_103"></td>
												<td><input type="text" class="form-control" name="remarks_112_103"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</fieldset>

							<div class="d-flex justify-content-center mt-4">
								<button type="submit" class="btn btn-success px-4">Save</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'js/itttm/wrstg_common.js' %}"></script>
{% endblock js %}
