{% extends 'itttm/trials_base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'itttm/wrstg-common.css' %}">
{% endblock css %}

{% block content %}
<div class="container-fluid" style="background-color: transparent;">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'ITTTM:home' %}">ITTTM</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'ITTTM:home' %}">NEC</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Lighting and Sockets</li>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green">
                        <span class="caption-subject bold">POST NR/MR HATs TRIAL PROTOCOLS NRTP - 107</span>
                    </div>
                </div>

                <div class="portlet-body form mt-2 mb-4">
                    <form method="post" id="Lighting_socket_nrtp_107_result_form">
                        {% csrf_token %}
                        <div class="form-body">

                            <!-- ══════════════════════════════════════
                                HEADER INFORMATION
                            ══════════════════════════════════════ -->
                            <fieldset class="custom-fieldset">
                                <div class="row g-3">
                                    
                                    <div class="col-md-4 col-12">
                                        <div class="form-group form-md-line-input form-md-floating-label mt-2 mb-2">
                                            <input type="date" class="form-control" name="nrtp107_date_of_trials" id="nrtp107_date_of_trials" required>
                                            <label class="form_control_1">Date of Trials <span class="text-danger">*</span></label>
                                            <span class="help-block d-flex"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <div class="form-group form-md-line-input form-md-floating-label mt-2 mb-2">
                                            <input type="text" class="form-control" name="nrtp107_ins_designation" id="nrtp107_ins_designation" placeholder="">
                                            <label class="form_control_1">INS <span class="text-danger">*</span></label>
                                            <span class="help-block d-flex"></span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <!-- ══════════════════════════════════════
                                RESULT SHEET TABLE
                            ══════════════════════════════════════ -->
                            <fieldset class="custom-fieldset">
                                <legend class="legend-custom text-uppercase">Result Sheet</legend>

                                <div class="table-responsive">
                                    <table class="custom_tbl" id="nrtp108_result_tbl">
                                        <thead class="table-dark-head">
                                            <tr>
                                                <th>TEST SER</th>
                                                <th>TEST / NOMINAL VALUE</th>
                                                <th>ACTUAL VALUE</th>
                                                <th>REMARKS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td >107.100</td>
                                                <td>Visual Inspection</td>
                                                <td><textarea class="form-control " name="nrtp107_actual_107100"  rows="1" placeholder=" "></textarea></td>
                                                <td><textarea class="form-control wrstg-scroll-textarea" name="nrtp107_remarks_107100"  rows="1" placeholder=" "></textarea></td>
                                            </tr>
                                            <tr>
                                                <td >107.102</td>
                                                <td>Functional Check </td>
                                                <td><textarea class="form-control " name="nrtp107_actual_107101"  rows="1" placeholder=" "></textarea></td>
                                                <td><textarea class="form-control wrstg-scroll-textarea" name="nrtp107_remarks_107101"  rows="1" placeholder=" "></textarea></td>
                                            </tr>
                                            <tr>
                                                <td >107.103</td>
                                                <td>Functional Check</td>
                                                <td><textarea class="form-control " name="nrtp107_actual_107102"  rows="1" placeholder=" "></textarea></td>
                                                <td><textarea class="form-control wrstg-scroll-textarea" name="nrtp107_remarks_107102"  rows="1" placeholder=" "></textarea></td>
                                            </tr>
                                            <tr>
                                                <td >107.104</td>
                                                <td>Insulation Test </td>
                                                <td><textarea class="form-control " name="nrtp107_actual_107103"  rows="1" placeholder=" "></textarea></td>
                                                <td><textarea class="form-control wrstg-scroll-textarea" name="nrtp107_remarks_107103" " rows="1" placeholder=" "></textarea></td>
                                            </tr>
                                            <tr>
                                                <td>107.105</td>
                                                <td> Functional Test </td>
                                                <td><textarea class="form-control " name="nrtp107_actual_107104" rows="1" placeholder=" "></textarea></td>
                                                <td><textarea class="form-control wrstg-scroll-textarea" name="nrtp107_remarks_107104" " rows="1" placeholder=" "></textarea></td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>

                            <div class="d-flex justify-content-center mt-4 gap-2">
                                <button type="submit" class="btn btn-success px-4">Save</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block js %}
<script src="{% static 'js/itttm/wrstg_common.js' %}"></script>
{% endblock js %}